
@{
    ViewBag.Title = "Server Error";
}


<div error-image-conteiner>
    <div class="page">
<div class="index-title"><h2>Internal Server Error</h2></div>
<hr>
        <img class="error-image" src="~/Images/500.jpg">
    </div>
    
</div>
