
@{
    ViewBag.Title = "Not Found";
}


<div error-image-conteiner>
    <div class="page">
<div class="index-title"><h2>Page Not Found</h2></div>
<hr>

        <img class="error-image" src="~/Images/404.jpg">
    </div>
    </div>

