html, body {
    padding: 1%;
    background-image: url('/Images/IndexBackground.jpg');
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
/*User Login*/
.user-box {
    position: fixed;
    top: 85px;
    left: 10px;
    min-height: 100%;
}

/*Ads*/
.ads-layout-container {
    position: fixed;
    top: 50px;
    right: 0;
    min-height: 100%;
}
/*Top Bar*/
.bar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border: 2px groove grey;
    border-radius: 5px;
    /*background-color: darkgray;*/
    background-image: url('/Images/top_bar.jpg');
    margin: auto;
    /*width: 1000px;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
}

.bar-buttons-container {
    margin: auto;
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bar-buttons-container
#personal-area-button {
    width: 120px;
}
/*TITLE*/
.bar-title-left {
    position: absolute;
    left: 50px;
    top: 7px;
    text-align: center;
    /*z-index: 100;*/
    /*display: flex;*/
    align-items: center;
    display: inline-block;
}


.bar-title-right {
    position: absolute;
    right: 5px;
    top: 10px;
    display: inline-block;
    /*width:300px;*/
    /*text-align: center;*/
    /*z-index: 100;*/
    /*display: flex;
    align-items: center;*/
}

    .bar-title-right h3 {
        font-size: 21px;
    }

.bar-buttons-container h3 {
    margin: auto;
    /*z-index: 100;*/
    font-style: italic;
    color: indianred;
    display: inline-block;
}

/*Buttons*/
.bar-button {
    display: inline-table;
    margin: auto;
    background-color: dimgrey;
    border: 2px groove grey;
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    text-align: center;
}

/*Custom Layout*/

.bar-title-custom-layout-right {
    position: absolute;
    left: 5px;
    top: 10px;
    text-align: center;
    z-index: 100;
    display: flex;
    align-items: center;
}

.bar-title-custom-layout-right h3 {
   font-size: 21px;
}

.bar-title-custom-layout h3 {
    margin: auto;
    font-style: italic;
    color: indianred;
}

.bar-title-custom-layout-left {
    position: absolute;
    right: 110px;
    top: 7px;
    text-align: center;
    z-index: 100;
    display: flex;
    align-items: center;
}

/*User Login*/
.user-box-custom-layout {
    position: fixed;
    top: 85px;
    right: 10px;
    min-height: 100%;
}

/*Edit User*/
.div-user-image {
    float: right;
    margin-right: 30px;
}

.user-image {
    width: 180px;
    height: 200px;
}
