@{
    ViewBag.Title = "About";
    ViewBag.AboutButtonColor="#3c1d06";
}
<div class="main-container">
    <div class="section-login">
        @*@section Login
            {
                    @Html.Action("Login", "Account")
                }*@
    </div>
    <div class="page">
        <h3>@ViewBag.Message</h3>

        <div class="index-title"><h2>God Created Men and Sam Colt Made Them Equal</h2></div>

        <div class="registration-form-container about">
            <img src="../../Images/about1.jpg" class="about-image" id="about-image1" />
            <p>
                &nbsp A weapon, arm, or armament is any device used with intent to inflict damage or harm to living creatures, structures, or systems.
                Weapons are used to increase the efficacy and efficiency of activities such as hunting, crime, law enforcement, self-defense, and warfare.
                In broader context, weapons may be construed to include anything used to gain a strategic, material or mental advantage over an adversary or enemy target.
            </p>

            <p>
                &nbsp While ordinary objects such as sticks, stones, cars, or pencils can be used as weapons, many are expressly designed for the purpose – ranging from simple implements such as clubs, swords and guns, to complicated modern intercontinental ballistic missiles, biological and cyberweapons.
                Something that has been re-purposed, converted, or enhanced to become a weapon of war is termed weaponized, such as a weaponized virus or weaponized lasers.
            </p>
            <img src="../../Images/about2.jpg" class="about-image" id="about-image2" />
            <p>
                &nbsp The use of objects as weapons has been observed among chimpanzees, leading to speculation that early hominids first began to use weapons as early as five million years ago.
                However, this can not be confirmed using physical evidence because wooden clubs, spears, and unshaped stones would have left an ambiguous record. The earliest unambiguous weapons to be found are the Schöninger Spear: eight wooden throwing spears dated as being more than 300,000 years old.
                At the site of Nataruk in Turkana, Kenya, numerous human skeletons dating to 10,000 years ago may present evidence of major traumatic injuries to the head, neck, ribs, knees and hands, including obsidian projectiles still embedded in the bones, that might have been caused by arrows and clubs in the context of conflict between two hunter-gatherer groups, but this interpretation of the evidence of warfare at Nataruk has been challenged.
            </p>
            <img src="../../Images/about3.jpg" class="about-image" id="about-image3" />
            <p>
                &nbsp European warfare during the Post-classical history was dominated by elite groups of knights supported by massed infantry (both in combat and ranged roles).
                They were involved in mobile combat and sieges which involved various siege weapons and tactics.
                Knights on horseback developed tactics for charging with lances providing an impact on the enemy formations and then drawing more practical weapons (such as swords) once they entered into the melee.
                Whereas infantry, in the age before structured formations, relied on cheap, sturdy weapons such as spears and billhooks in close combat and bows from a distance.
                As armies became more professional, their equipment was standardized and infantry transitioned to pikes. Pikes are normally seven to eight feet in length, in conjunction with smaller side-arms (short sword).
                In Eastern and Middle Eastern warfare, similar tactics were developed independent of European influences.
                The introduction of gunpowder from the Far East at the end of this period revolutionized warfare.
                Formations of musketeers, protected by pikemen came to dominate open battles, and the cannon replaced the trebuchet as the dominant siege weapon.
            </p>
            <p>And our site... but just awesome site !!!</p>
        </div>

    </div>
    <div class="section-ads">
        @*@section Ads
            {
                    @Html.Action("Ads", "Home")
                }*@
    </div>
</div>
